@import "../../../styles/helpers";
@import "../../../styles/select2-variables";
@import "../../../../../node_modules/select2/src/scss/core";
@import "../../../../../node_modules/select2-bootstrap-theme/src/select2-bootstrap";

/**
 * Bootstrap slider. converted from less files
 */

$slider-line-height: 8px;
$slider-handle-size: 26px;

.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &.slider-horizontal {
    width: 300px;
    height: $slider-line-height;

    .slider-track {
      height: $slider-line-height/2;
      width: 100%;
      margin-top: -$slider-line-height/4;
      top: 50%;
      left: 15px;
    }

    .slider-selection {
      height: 100%;
      top: 0;
      bottom: 0;
    }

    .slider-handle {
      margin-left: -$slider-handle-size/2;
      margin-top: -$slider-handle-size*3/8;

      &.triangle {
        border-width: 0 $slider-line-height/2 $slider-line-height/2 $slider-line-height/2;
        width: 0;
        height: 0;
        border-bottom-color: #0480be;
        margin-top: 0;
      }
    }
  }

  &.slider-vertical {
    height: 210px;
    width: $slider-line-height;

    .slider-track {
      width: $slider-line-height/2;
      height: 100%;
      margin-left: -$slider-line-height/4;
      left: 50%;
      top: 0;
    }

    .slider-selection {
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
    }

    .slider-handle {
      margin-left: -$slider-handle-size*3/8;
      margin-top: -$slider-handle-size/2;

      &.triangle {
        border-width: $slider-line-height/2 0 $slider-line-height/2 $slider-line-height/2;
        width: 1px;
        height: 1px;
        border-left-color: #0480be;
        margin-left: 0;
      }
    }
  }

  &.slider-disabled {
    .slider-handle {
      @include gradient-y(#dfdfdf, #bebebe);
    }

    .slider-track {
      @include gradient-y(#e5e5e5, #e9e9e9);
      cursor: not-allowed;
    }
  }

  input {
    display: none;
  }

  .tooltip-inner {
    white-space: nowrap;
  }

  .tooltip.top {
    top: -30px;
  }
}

.slider-track {
  position: absolute;
  cursor: pointer;
  @include gradient-y(#eee, #f8f8f8);

  @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, .1));
  border-radius: $border-radius;
}

.slider-selection {
  position: absolute;
  background-color: theme-color('primary');
  @include box-shadow(inset 0 -1px 0 rgba(0, 0, 0, .15));
  box-sizing: border-box;
  border-radius: $border-radius;

  .slider-danger & {
    background-color: theme-color('danger');
  }

  .slider-success & {
    background-color: theme-color('success');
  }

  .slider-warning & {
    background-color: theme-color('warning');
  }

  .slider-info & {
    background-color: theme-color('info');
  }

  .slider-inverse & {
    background-color: $gray-700;
  }
}

.slider-handle {
  position: absolute;
  width: $slider-handle-size;
  height: $slider-handle-size;
  background-color: $white;
  @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 3px rgba(0, 0, 0, .5));
  border: 0px solid transparent;

  &:focus {
    outline: 0;
  }

  &.round {
    border-radius: 50%;
  }

  &.triangle {
    background: transparent none;
  }
}

.bootstrap-select {
  .dropdown-toggle {
    padding-left: 10px;

    &:after {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .dropdown-menu > li > a {
    display: block;
    width: 100%; // For `<button>`s
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    text-align: inherit; // For `<button>`s
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    background: none; // For `<button>`s
    border: 0; // For `<button>`s

    @include hover-focus {
      color: $dropdown-link-hover-color;
      text-decoration: none;
      background-color: $dropdown-link-hover-bg;
    }

    // Active state
    &.active {
      @include plain-hover-focus {
        color: $dropdown-link-active-color;
        text-decoration: none;
        background-color: $dropdown-link-active-bg;
        outline: 0;
      }
    }

    // Disabled state
    //
    // Gray out text and ensure the hover/focus state remains gray
    &.disabled {
      @include plain-hover-focus {
        color: $dropdown-link-disabled-color;
      }

      // Nuke hover/focus effects
      @include hover-focus {
        text-decoration: none;
        cursor: $cursor-disabled;
        background-color: transparent;
        background-image: none; // Remove CSS gradient
      }
    }
  }
}

// We need to use ::ng-deep to overcome view encapsulation

.custom-slider .ng5-slider .ng5-slider-bar {

}
.custom-slider .ng5-slider .ng5-slider-selection-bar {
  position: absolute;
  cursor: pointer;
  width: $slider-handle-size;
  height: $slider-handle-size;
  background-color: $white;
  @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 3px rgba(0, 0, 0, .5));
  border: 0px solid transparent;

}

.custom-slider .ng5-slider .ng5-slider-selection {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

.custom-slider .ng5-slider .ng5-slider-pointer {
  position: absolute;
  width: $slider-handle-size;
  height: $slider-handle-size;
  background-color: $white;
  @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 3px rgba(0, 0, 0, .5));
  border: 0px solid transparent;

  &:focus {
    outline: 0;
  }

  &.round {
    border-radius: 50%;
  }

  &.triangle {
    background: transparent none;
  }
}

.custom-slider .ng5-slider .ng5-slider-pointer:after {
  display: none;
}

.custom-slider .ng5-slider .ng5-slider-bubble {
  bottom: 14px;
}

.custom-slider .ng5-slider .ng5-slider-limit {
  font-weight: bold;
  color: #0480be;
}

.custom-slider .ng5-slider .ng5-slider-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #0480be;
  top: -1px;
}

.custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
  background: #0480be;
}

.log {
  display: inline-block;
  cursor: pointer;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);


}



.my-code-editor  {
  .editor-container {
    height: calc(100vh - 100px);
    width: 100%;
    padding: 15px;
    color: #5fca4a;
  }
}

ngx-monaco-editor  {
  width: 100%;
  display: block;
  height: 500px !important;
}
ngx-monaco-editor.active  {
  width: 100%;
  display: block;
  height: 800px !important;
  position: relative  !important;
}

.widget .fullscreened {
  top: 54px  !important;
}
.switch{
  box-sizing: content-box;
}

.switch input {
  display: none;
}
.switch i {
  display: inline-block;
  cursor: pointer;
  padding-right: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 20px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}
.switch i:before {
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  padding: 1px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.switch :checked + i {
  padding-right: 0;
  padding-left: 20px;
  background: rgb(100, 189, 99);
}
