name: Docker Image CI
on:
  release:
    types: [published]
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Publish microfunctions-console
      uses: elgohr/Publish-Docker-Github-Action@3.02
      with:
        name: microfunctions/microfunctions-console
        username: ${{ secrets.LOGIN_DOCKER }}
        password: ${{ secrets.PASSWORD_DOCKER }}
        tag_names: true

